.about-me-btn {
    background: transparent; 
    border-radius: .5em !important; 
    color: rgba(136, 234, 247, 0.801); 
    border: 1px solid rgba(136, 234, 247, 0.801); 
    padding: 10px 20px; 
    transition: .1s; 
    margin: 1px;
    text-decoration: none;
}
.about-me-btn:hover{
    background: rgba(136, 234, 247); 
    color: rgb(46, 46, 46);
}